*{
	margin: 0;
	padding: 0;
	font-family: 'Asap Condensed', sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
.container{
	max-width: 924px;
	margin: 0 auto;
}
.section-title{
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 1.5em;
	text-transform: uppercase;
}
.section-description, .section-description-white{
	margin: 0 0 30px 0;
	font-style: italic;
	color: #919191;
}
.section-description:after{
	content: '';
	display: block;
	position: relative;
	background-color: black;
	height: 3px;
	margin: 20px 0 0 0;
	width: 50px;
	border-radius: 3px;
}
.section-description-white:after{
	content: '';
	display: block;
	position: relative;
	background-color: white;
	height: 3px;
	margin: 20px 0 0 0;
	width: 50px;
	border-radius: 3px;
}
body{
	background-color: #e9ecef;
}



header{
	background-color: white;
	padding: 20px 0;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo{
	font-size: 1.5em;
	letter-spacing: 3px;
	font-weight: bold;
}
.header-menu{
	display: flex;
}
.header-menu-item{
	display: flex;
	list-style-type: none;
}
.header-menu-item-a{
	text-transform: uppercase;
	margin: 0 0 0 15px;
	transition: 0.35s;
	font-weight: bold;
	letter-spacing: 0.5px;
}
.header-menu-item-a:hover{
	color: gold;
}
/*.header-menu-item-a:hover:after{
	content: '';
	display: block;
	background-color: gold;
	height: 3px;
	width: 100%;
}*/



.head{
	background-image: url('../images/header.jpg');
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 624px;
	color: white;
}
.head-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 624px;
	text-align: center;
}
.head-welcome{
	font-size: 1.75em;
	padding: 10px 15px;
	text-transform: uppercase;
	background-color: white;
	color: black;
	letter-spacing: 2px;
	border-radius: 2.5px;
}
.head-info{
	font-size: 2.25em;
	letter-spacing: 1px;
	margin: 20px 0;
}
.head-button{
	padding: 10px;
	border-radius: 2.5px;
	border: 1px solid gold;
	background: none;
	color: gold;
	text-transform: uppercase;
	outline: none;
	transition: 0.35s;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
}
.head-button:hover{
	background-color: gold;
	color: black;
}



.about-me{
	padding: 80px 0 80px 0;
}
.about-me-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about-me-ava{
	display: flex;
	flex-direction: column;
	margin: 0 100px 0 0;
}
.about-me-ava-1{
	position: absolute;
	width: 300px;
	height: 300px;
	background: gold;
}
.about-me-img{
	margin: 50px 0 0 50px;
	width: 300px;
	height: 300px;
	z-index: 1;
}
.about-me-info{
	max-width: 425px;
}
.about-me-text{
	line-height: 1.5em;
	letter-spacing: 0.3px;
}
.about-me-follow{
	font-weight: bold;
	letter-spacing: 0.75px;
	margin: 20px 0 5px 0;
}
.about-me-social-icons{
	display: flex;
}
.about-me-social-icon{
	display: flex;
	list-style-type: none;
}
.about-me-social-icon-a{
	margin: 0 10px 0 0;
	font-size: 1.5em;
	transition: 0.35s;
}
.about-me-social-icon-a:hover{
	color: gold;
}



.my-skills{
	padding: 80px 0 40px 0;
	background-color: #252525;
	color: white;
}
.my-skills-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.my-skills-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.my-skill{
	background-color: #373737;
	width: 280px;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 0 40px 0;
	transition: 0.35s;
}
.my-skill:hover{
	background-color: gold;
}
.my-skill-icon{
	font-size: 3.5em;
}
.my-skill-name{
	font-weight: bold;
	letter-spacing: 0.5px;
	margin: 5px 0 10px 0;
	font-size: 1.25em;
}
.my-skill-description{
	color: #919191;
}



.portfolio{
	padding: 80px 0 40px 0;
}
.portfolio-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.section-title-2{
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0 0 2.5px 0;
}
.section-description-2{
	margin: 0 0 20px 0;
	font-style: italic;
	color: #919191;
}
.section-icon{
	display: flex;
	align-items: center;
	font-size: 1.25em;
	margin: 0 0 30px 0;
	color: #919191;
}
.section-icon:before,.section-icon:after{
	content: '';
	display: block;
	position: relative;
	height: 1.5px;
	background-color: #919191;
	width: 50px;
	margin: 0 15px;
}
.portfolio-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio-work{
	position: relative;
	width: 280px;
	height: 200px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	margin: 0 0 40px 0;
}
.portfolio-work-img{
	width: 280px;
	height: 160px;
}
.portfolio-work-content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 160px;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	transition: 0.35s;
}
.portfolio-work-content-button{
	padding: 5px 15px;
	border: 1px solid white;
	border-radius: 3px;
	letter-spacing: 0.5px;
	color: white;
	cursor: pointer;
	transition: 0.35s;
}
.portfolio-work-content-button:hover{
	background-color: white;
	color: black;
}
.portfolio-work:hover .portfolio-work-content{
	opacity: 1;
}
.portfolio-work-info{
	display: flex;
	justify-content: space-between;
	background-color: white;
	height: 40px;
	align-items: center;
	padding: 0 10px;
}
.portfolio-work-name{
	font-weight: bold;
	letter-spacing: 0.3px;
}



.contact{
	padding: 80px 0 40px 0;
	background-color: #252525;
	color: white;
}
.contact-box{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-form{
	max-width: 400px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact-form-input{
	width: 170px;
	background: none;
	color: white;
	border: 1px solid white;
	outline: none;
	padding: 7.5px 10px;
	margin: 0 0 20px 0;
}
.contact-form-text{
	width: 100%;
	background: none;
	color: white;
	border: 1px solid white;
	outline: none;
	padding: 7.5px 10px;
	height: 150px;
	margin: 0 0 20px 0;
	resize: none;
}
.contact-form-button{
	color: gold;
	background: none;
	outline: none;
	border: 1px solid gold;
	width: 100px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	transition: 0.35s;
}
.contact-form-button:hover{
	background-color: gold;
	color: #252525;
}



footer{
	background-color: #141414;
	padding: 20px 0;
}
.footer{
	display: flex;
	justify-content: space-between;
}
.footer-copyright{
	font-size: 1.1em;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	transition: 0.35s;
}
.footer-email{
	color: white;
	transition: 0.35s;
}
.footer > a:hover{
	color: gold;
}